@model Postit.Models.Post
@{
   ViewData["Title"] = "Delete";
}

<div class="">
   <h1 class="display-4">Delete post</h1>
   <hr>
   @if(ViewData["errorMessage"] != null){
      <p class="text-danger">@ViewData["errorMessage"]</p>
   }
   <form enctype="multipart/form-data" asp-action="Delete">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="mb-3">
         <label class="form-label">@Html.DisplayNameFor(Model => Model.Title)</label>
         <input type="text" required class="form-control" asp-for="Title"
         placeholder="Enter post title...">
      </div>
      <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(Model => Model.Message)</label>
        <textarea class="form-control" required asp-for="Message"
        placeholder="Enter your message here..." rows="2"></textarea>
      </div>
      <input type="submit" value="Delete" class="btn btn-primary mb-3"/>
   </form>
</div>