html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--default-bc-color);
  font-family: 'Roboto Mono', monospace;
  color: var(--indigo-muted);
}

/* Colors */
:root{
  --orange: #ff7e22;
  --yellow: #fca62a;
  --pink: #f57ad0;
  --purple: #673ece;
  --indigo: #5a43f1;
  --indigo-dark: #4509cf;
  --indigo-light: #969bf6;
  --indigo-muted: #f1f2fd;
  --default-bc-color: #1c1e24;
  --text-color:#8599a9
}

/* Nav styling */
.nav a {
  color: var(--indigo-muted);
}

.nav a:hover{
  color: var(--indigo-muted);
  border-bottom: 1px solid var(--yellow);
  
}

/* Index table styling */
table{
  color: var(--indigo-muted) !important;
}

table tr:hover{
  color: var(--text-color) !important;
}

table tr td a{
  color: var(--indigo-muted);
  text-decoration: none;
}

table tr td a:hover{
  color: var(--indigo-muted);
  border-bottom: 0.1px solid var(--pink);
}